<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="categories-container">
      <h1>Categories</h1>
      <% categories.map(cat => { %>
      <div class="category">
        <a href="/category/<%=cat.id %>" class="genre"><%= cat.name %></a>
        <div>
          <a href="/categoryEdit/<%=cat.id %>">
            <img src="/edit.png" alt="" height="50" width="50" class="editA" />
          </a>
          <a href="/category/<%=cat.id %>/delete">
            <img src="/delete.png" alt="" height="50" width="50" />
          </a>
        </div>
      </div>
      <% }) %>
      <a href="addCategory" class="addBtn">Add</a>
    </div>
  </body>
</html>
