<nav>
  <div class="header">
    <h1>Inventory App</h1>
    <img src="/delivery-box.png" alt="" height="50" width="50" />
  </div>
  <div class="links">
    <a href="/addItem">Add Item</a>
    <a href="/categories">Categories</a>
  </div>
</nav>
